* {
  font-family: "Roboto", sans-serif;
  color: white;

}

body{
  background-color: #222;
  min-height: 100vh;
  margin: 0;
}

/* Nabbar styling */
.Navbar{
 position: sticky;
 top: 0;
 z-index: 1000;
 background-color: rgba(34, 34, 34, 0.25);
 backdrop-filter: blur(6px);
 border-bottom: 2px solid #222;


}

.Navbar-container{
 display: flex;
 align-items: center;
 padding-top: 1rem;

}

.nav-left{
 display: flex;

}
.logo{
 border-radius: 25%;
 margin: 0 1rem;

}

.nav-name{
 font-size: 20px;
 line-height: 1.5rem;
 letter-spacing: 0.2rem;
 padding-top: 20px;

}

.nav-right-container{
 margin-left: auto;

}

.nav-items-container{
  display: flex;
  flex-wrap: wrap;
}

.nav-items{
  margin: 1rem;
  list-style-type: none;
}
.nav-items-links{
 text-decoration: none;

}

.nav-items-links:hover{
  color: rgb(238, 255, 0);
}

@media (max-width: 873px ) {
  .Navbar-container{
    display: block;
  }

  .nav-items-container{
    padding: 0;
  }
}

@media (max-width: 873px ) {
  .Navbar{
    background-color: rgba(34, 34, 34, 1);
  }

  
}

/* container */
.container{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 576px) {
  .container{
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container{
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container{
    max-width: 960px;
  }
}

/* hero section */

.hero-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  min-height: 80vh;
}

.hero-img{
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  display: block;
  border-radius: 15%;
}

.hero-left,
.hero-right {
  width: 100%;
}
.hero-right{
  margin-left: 0px;
}

@media (min-width:992px) {
.hero-left{
  width: 40%;
}
.hero-right {
  width: 60%;
}
}

.tittle{
  text-align: center;
  font-size: 3rem;
  font-weight: 400;
  
}

.description{
  padding: 0 1rem;
  font-size: 1rem;
  letter-spacing: 1px;
  line-height: 2rem;
  text-align: justify;
}

.resume-container{
  margin-top: 1rem;
}

.resume-sub-container{
  /* display: flex;
  flex-wrap: wrap;
  justify-content: space-between; */
  display: grid;
  gap: 30px;
  grid-template-columns: auto auto;
  align-items: center;
  justify-content: center;
}

.resume-left {
  flex: 1;
}

.resume-right{
  flex: 1;
}
.subtittle{
  font-size: 1.25rem;
  line-height: 1.6rem;
  margin-bottom: 0;
  
  
}

.line{
  background-color: #333;
  width: 100px;
  height: 2px;
  margin: 0.25rem 0 2rem 0;
}

.inner-line{
 background-color: rgb(59, 130, 246);
 width: 30px;
 height: 2px;
}

.resume-list{
  display: flex;
  position: relative;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-left: 1px solid #333;

}

.resume-duration-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.round-div{
  height: 24px;
  width: 24px;
  border-radius: 50%;
  border: 1px solid #333;
  background-color: #222;
  position: absolute;
  left: -13px;
}

.resume-duration{
  background-color: black;
  width: auto;
  border-radius: 20px;
  margin: 1rem 0;
  padding: 8px 24px;
  font-size: 0.875rem;
  line-height: 1.25rem;
  align-items: center;
  right: 10px;
}
